/* styles.css */

/* Estilo para o cabeçalho */
header {
  background: linear-gradient(to right, #161d16, rgb(0, 128, 64)); /* Gradiente de verde escuro para branco */
  text-align: center;
  padding: 20px 0;
}

header h1,h3 {
  color: rgb(255, 255, 255); /* Preto */
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: end; /* Mover elementos para a esquerda */
}

/* Estilo para o formulário */
.form-container {
  max-width: 400px; /* Largura máxima do formulário */
  margin: 0 auto; /* Centralizar horizontalmente */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 8px;
}

form input,
form button {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  
  color: #000; /* Preto */
  cursor: pointer;
}

/* Estilo para a lista de usuários */
main {
  max-width: 600px; /* Largura máxima da área principal */
  margin: 0 auto; /* Centralizar horizontalmente */
  padding: 20px;
}

main h2 {
  margin-bottom: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}
/* Estilo para o rodapé */
footer {
  background: linear-gradient(to right, #161d16, rgb(0, 128, 64)); /* Gradiente de verde escuro para branco */
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  color: rgb(255, 255, 255); /* Branco */
}

/* Estilo para o link no rodapé */
footer a {
  color: rgb(255, 255, 255); /* Branco */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


/* Estilo para o link "Lista de Usuários" */
.user-list-link {
  color: #FFFFFF; /* Cor do texto */
  text-decoration: none; /* Remova sublinhado */
  margin-right: 20px; /* Espaçamento à direita para separar do logo */
  
}


/* Estilo para a lista de usuários */
ul#userListUl {
    list-style: none;
    padding: 0;
    margin-top: 20px; /* Espaçamento superior para separar do formulário */
}

li.user-item {
    background-color: #f2f2f2; /* Cor de fundo para cada item da lista */
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px; /* Espaçamento inferior entre os itens */
}

li.user-item:hover {
    background-color: #ddd; /* Cor de fundo quando hover */
}

/* Estilo para o texto dentro dos itens da lista */
li.user-item p {
    margin: 0;
}

