# Arquivos específicos do Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Arquivos de log
*.log

# Arquivos gerados pelo IDE
.idea/
*.iml
*.iws
*.ipr

# Arquivos gerados pelo Maven e Spring Boot
mvnw
mvnw.cmd
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
spring-boot-starter.out.log
spring-boot-starter.err.log

# Arquivos gerados pelo Lombok
target/generated-sources/

# Configurações locais do IDE
/.settings/

# Outros arquivos e diretórios
*.class
*.jar
*.war
*.ear
.DS_Store

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/